{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html>
<head>
	{% progressive_web_app_meta %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:title" content="Spotifly" />
	<meta property="og:description" content="Give Spotify wings. Allow others to queue songs to your device by texting."/>
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.spotifly.thatcherthornberry.com/" />
	<meta property="og:image" content="{% static 'queueing/img/spotifly-logo.jpg' %}" />
	<title>Spotifly - Waitlist</title>

	<!-- 

	Letter Template 

	https://templatemo.com/tm-510-letter



	Template Re-distribution is NOT allowed.

	-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
	<link rel="stylesheet" href="{% static 'queueing/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'queueing/css/bootstrap.min.css' %}">

	<link rel="stylesheet" href="{% static 'queueing/css/demo.css' %}" />
	<link rel="stylesheet" href="{% static 'queueing/css/templatemo-style.css' %}">

	<script type="text/javascript" src="{% static 'queueing/js/modernizr.custom.86080.js' %}"></script>
		
	</head>

	<body>

			<div id="particles-js"></div>
		
			<ul class="cb-slideshow">
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	        </ul>

			<div class="container-fluid">
				<div class="row cb-slideshow-text-container ">
					<div class= "tm-content col-xl-6 col-sm-8 col-xs-8 ml-auto section">
                    {% if not success %}
					<header class="mb-5"><h1>Spotifly</h1></header>
					<P class="mb-5">Queue songs by texting. Join the waitlist.</P>
					
                    <form method="POST" class="subscribe-form">
                    {% csrf_token %}
               	    	<div class="row form-section">

							<div class="col-md-7 col-sm-7 col-xs-7">
			                      <input name="email" type="text" class="form-control" id="contact_email" placeholder="Your Email..." required/>
				  			</div>
							<div class="col-md-5 col-sm-5 col-xs-5">
								<button type="submit" class="tm-btn-subscribe">Sign Up</button>
							</div>						
						</div>
                    </form>
					{% comment %} login button leads to login page {% endcomment %}
					<div class="col-md-5 col-sm-5 col-xs-5">
						{% comment %} button with link to /login {% endcomment %}
						<a href="accounts/login" class="tm-btn-subscribe">Login</a>
					</div>
                    {% else %}
                    <header class="mb-5"><h1>Thank You.</h1></header>
					<P class="mb-5">You're signed up. We'll email you shortly.</P>
                    {% endif %}
                    
					{% comment %} <div class="tm-social-icons-container text-xs-center">
	                    <a href="#" class="tm-social-link"><i class="fa fa-facebook"></i></a>
	                    <a href="#" class="tm-social-link"><i class="fa fa-google-plus"></i></a>
	                    <a href="#" class="tm-social-link"><i class="fa fa-twitter"></i></a>
	                    <a href="#" class="tm-social-link"><i class="fa fa-linkedin"></i></a>
	                </div> {% endcomment %}

					</div>
				</div>	
				<div class="footer-link">
					<p>
                        By <a href="https://www.thatcherthornberry.com/">Thatcher Thornberry </a>
                    </p>
				</div>
			</div>	
	</body>

	<script type="text/javascript" src="{% static 'queueing/js/particles.js' %}"></script>
	<script type="text/javascript" src="{% static 'queueing/js/app.js' %}"></script>
</html>