{% load static %}
{% load pwa %}
<!DOCTYPE html>
<head>
	{% progressive_web_app_meta %}
	<!-- templatemo 418 form pack -->
    <!-- 
    Form Pack
    http://www.templatemo.com/preview/templatemo_418_form_pack 
    -->
	<title>Spotifly - Register</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
	<link href="{% static 'queueing/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'queueing/css/bootstrap.min.css' %}">
	<link href="{% static 'queueing/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'queueing/css/templatemo_style.css' %}" rel="stylesheet" type="text/css">
</head>
<body class="templatemo-bg-image-2">
	<div class="container">
		<div class="col-md-12">
			{% if not signedup %}
			{% if success %}
			<form class="form-horizontal templatemo-contact-form-1" role="form" method="get">
			<div class="form-group">				
					<div class="col-md-12">
						<h1 class="margin-bottom-15">Thanks.</h1>
						<p>We'll send you an email with more instructions.</p>
					</div>
				</div>
			</form>
			{% else %}
			<form class="form-horizontal templatemo-contact-form-1" role="form" method="POST">
			{% csrf_token %}
				<div class="form-group">				
					<div class="col-md-12">
						<h1 class="margin-bottom-15">Register</h1>
						<p>Please enter your name. Other people can follow you by texting "follow your name"</p>
					</div>
				</div>				
		        <div class="form-group">
		          <div class="col-md-12">		          	
		            <label for="name" class="control-label">Name</label>
		            <div class="templatemo-input-icon-container">
		            	<i class="fa fa-user"></i>
		            	<input name="name" type="text" class="form-control" id="name" placeholder="" value="{{ listener.name }}" required>
		            </div>		            		            		            
		          </div>              
		        </div>
		        <div class="form-group">
		          <div class="col-md-12">
		            <label for="subject" class="control-label">Phone Number (No dashes)</label>
		            <div class="templatemo-input-icon-container">
		            	<i class="fa fa-phone-square"></i>
		            	<input name="number" type="text" class="form-control" id="subject" placeholder="" required>
		            </div>
		          </div>
		        </div>
		        <div class="form-group">
		          <div class="col-md-12">
		            <input type="submit" value="Sign Up" class="btn btn-success pull-right">
		          </div>
		        </div>		    	
		      </form>
			  {% endif %}
			  {% else %}
			  <form class="form-horizontal templatemo-contact-form-1" role="form" method="get">
			  <h1>You are already registered! If you messed up... email thatcherthornberry@gmail.com</h1>
			  </form>
			  
			  {% endif %}
		</div>
	</div>
</body>
</html>