Success!<br>
<br>
Thanks for signing up {{name}}!<br>
<br>
Now, people can follow you by texting "follow {{name}}" to 424-373-5305.<br>
<br>
Then, they can queue songs when you're playing music by texting "queue song name" or "queue song name by artis". Here's what is might look like:<br><br>

follow {{name}}<br>
queue let it happen by tame impala<br>
queue every cable goes somewhere<br>

<br>
Want to queue songs to your own device? Just follow the same process<br>
follow {{name}}<br>
queue plate tectonics (remix)